.loginform {
  width: 60%;
  margin: auto;
  border: 3px solid ;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;;
}

label {
  color: #bab5ab;
}

.submitbutton {
  margin-top: 30px;
  background-color: #212529;
  color: #bab5ba;
  padding: 5px;
  font-size: 1.3em;
  border: none;
  &:hover {
    background-color: black;
    
  }
}

span {
  color: red;
}

