$btn-color:rgb(60, 64, 67);
$text-color:rgb(218, 215, 210);
$border-color: rgb(86, 91, 96);
.btn {
    margin: auto;
    border-radius: unset;
    margin: auto;
    color: $text-color;
}

.word-definition-google {
    color: $text-color;
    margin-bottom: 15%;
}

.item {
    background-color: black;
}

.item-header {
    padding: 20px;
    margin-left: auto;
    width: 100%;
    color: #629a62;
    border-bottom: 3px solid #629a62;
    font-size: 2em;
    ;
}

.item-def-exa {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #629a62;
    padding: 10px;
}

.meaning {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.sense {
    font-size: 1.5em;
    color: #6695c7;
    border-bottom: 2px solid #6695c7;
    padding: 7px;
}

.definition {
    color: #9c6bc9;
    padding-top: 20px;
    padding-left: 20px;
    border-left: 3px solid #6695c7;
}

.example {
    color: #6f72e8;
    border-left: 3px solid #6695c7;
    padding-top: 7px;
    padding-left: 35px;
}

.origin {
    color: #869199;
}

.word-heading {
    font-size: 2em;
    color: $text-color;
    color: #ad5959;
    margin: auto;
    padding: auto;
    padding-bottom: 13px;
}

.words-heading {
    border-bottom: 1px solid $border-color;
    margin: auto;
    padding: 15px;
}

.word-heading-div {
    padding: auto;
    margin-right: auto;
}

.synonyms {
    color: #ad5959;
    padding: 7px;
    padding-left: 20px;
    border-left: 3px solid #6695c7;
}

.synonyms-words {
    padding-left: 35px;
    color: #37a3b4;
}

.audio {
    font-size: 1em;
    color: $border-color;
    background-color: black;
    margin: 5px;
    border: none;
}

.favourite {
    background-color: #181a1b ;
    border: none;
    font-size: 1em;
    margin: 5px;
}